// ACCOUNT

.account {
	@include adaptiveValue('margin-bottom', 100, 60);
	position: relative;

	&__fixed-side {
		position: fixed;
		z-index: 50;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		background-color: $textColorWhite;
		opacity: 0;
		pointer-events: none;
      transition: opacity 0.25s ease-in-out;
		&.is-visible {
         opacity: 1;
         pointer-events: auto;
      }

		ul {
			width: 167px;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding: 4px 14px;
				border-radius: 6px;
				transition: background-color 0.2s ease-in-out;

				a {
					display: block;
					color: $textColorBlack;
					text-align: right;
					font-weight: $medium;
					line-height: 1.44;
					text-decoration: none;
					transition: color 0.2s ease-in-out;
				}

				&:hover {
					background-color: #FFDADD;
					a {
						color: #FF4554;
					}
				}

				&.is-active {
					background-color: #FFDADD;
					a {
						color: #FF4554;
					}
				}
			}
		}
	}

		&__head {
			text-align: center;
			margin-bottom: 45px;
		}

		&__title {
			margin-bottom: 24px;
		}

		&__body {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			background-color: rgba(255, 255, 255, 1);
			border: 1px solid #E9E9E9;
			@media (max-width: $mobile) {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
			}
		}

		&__left {
			padding: 16px 0 30px;
			border-right: 1px solid #E9E9E9;
			@media (max-width: $mobile) {
				border-right: none;
			}
		}

		&__right {
			padding: 16px 0 30px;
		}

	.left-account {
			position: relative;
			display: flex;
			flex-direction: column;
			height: 100%;

		&__title {
			position: relative;
			color: #000;
			font-size: 32px;
			font-weight: $extraBold;
			line-height: 1.38;
			border-bottom: 1px solid #E9E9E9;
			padding-bottom: 16px;
			padding-inline: 32px;
			img {
				position: absolute;
				top: 20px;
				left: 100px;
				width: 30px;
				height: 58px;
				z-index: 1;
			}
		}

		&__block {
			max-width: 510px;
			padding-inline: 32px;
			padding-top: 30px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex-grow: 1;
			@media (max-width: $mobile) {
				max-width: 100%;
			}
			.arrow-right {
				position: absolute;
				top: 85px;
				right: -25px;
				z-index: 1;
				@media (max-width: $mobile) {
				display: none;
				}
			}
		}

		&__subtitle {
			color: $textColorBlack;
			font-size: 24px;
			font-weight: $extraBold;
			line-height: 1.25;
			margin-bottom: 12px;
		}

		&__text-list {
			margin-bottom: 30px;
			
		}

		&__item-text {
			color: $textColorBlack;
			font-size: 20px;
			font-weight: $medium;
			line-height: 1.3;
		}

		&__process-list {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: 10px;
			@media (max-width: $mobile) {
				gap: 30px;
				margin-bottom: 30px;
			}
		}

		&__item-process {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;
		}

		&__img-process {
			width: 24px;
			height: 24px;
			overflow: hidden;
			img {
				@extend %img;
			}
		}

		&__name-process {
			color: $textColorBlack;
			font-size: 20px;
			font-weight: $medium;
			line-height: 1.3;
			text-align: center;
		}

		&__zum {
			max-width: 341px;
			max-height: 175px;
			overflow: hidden;
			padding-inline: 32px;
			margin-bottom: 14px;
			img {
				@extend %img;
				flex-grow: 0;
			}
		}

		&__aim {
			padding-inline: 32px;
			color: #FF4554;
			text-align: right;
			font-size: 18px;
			font-weight: $medium;
			line-height: 1.45;
			position: relative;
			right: 0;
			bottom: 0;
			@media (max-width: $mobile) {
				font-size: 24px;
			}
		}
	}

	.right-account {

		&__title {
			color: #000;
			font-size: 32px;
			font-weight: $extraBold;
			line-height: 1.38;
			border-bottom: 1px solid #E9E9E9;
			padding-bottom: 16px;
			padding-inline: 32px;
		}

		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 50px;
			padding-block: 20px;
			border-bottom: 1px solid #DEDEDE;
			padding-inline: 32px;

		}

		&__subtitle-item {
			color: $textColorBlack;
			font-size: 24px;
			font-weight: $extraBold;
			line-height: 1.25;
			margin-bottom: 12px;
		}

		&__text-item {
			color: #131010;
			font-size: 20px;
			font-weight: $medium;
			line-height: 1.3;
			.paypal {
				width: 78px;
				height: 18px;
				position: relative;
				top: 6px;
				right: -2px;
			}
			span {
				font-weight: $bold;
			}
		}

		&__image {
			border-radius: 100px;
			width: 72px;
			height: 72px;
			overflow: hidden;
			flex-shrink: 0;
			img {
				@extend %img;
			}
		}

		&__aim {
			color: #0E9E58;
			text-align: right;
			font-size: 18px;
			font-weight: $medium;
			line-height: 1.45;
			padding-top: 30px;
			padding-right: 34px;
			@media (max-width: $mobile) {
				font-size: 24px;
			}
		}
	}
}
