// HERO

.banner {
	width: 100%;
	transform: rotate(-2deg) skew(-2deg) translateY(-30px);
	@include adaptiveValue('margin-bottom', 40, 20);

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FFEF80;
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 60px;
		@media (max-width: $mobile) {
			flex-direction: column;
			gap: 20px;
			padding-block: 30px;
		}
	}

	&__left {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__deal {
		color: #FF4554;
		font-size: 42px;
		font-weight: $bold;
		border-radius: 12px;
		border: 4px solid #FF4554;
		padding: 17px 19px 15px 22px;
	}

	&__center {
		width: 305px;
		height: 156px;
		position: relative;
		overflow: hidden;
	}

	&__center-background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		img {
			@extend %img;
		}
	}

	&__center-group {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		position: relative;
		z-index: 2;
	}

	&__center-left {
		font-family: $mainFontFamily;
		color: #FF4554;
		font-size: 145px;
		font-weight: $extraBold;
	}

	&__center-right {
		display: flex;
		flex-direction: column;
		gap: 5px;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__center-percent {
		color: #FF4554;
		font-size: 77px;
		font-weight: $extraBold;
	}

	&__center-text {
		color: #FF4554;
		font-size: 34px;
		font-weight: $bold;
		text-transform: uppercase;
	}

	&__right {
		padding-block: 30px;
		display: flex;
		flex-direction: column;
		gap: 13px;
		justify-content: flex-start;
		align-items: flex-start;
		@media (max-width: $mobile) {
			align-items: center;
			padding-block: 0;
		}
	}

	&__right-top {
		color: $textColorBlack;
		font-size: 17px;
		font-weight: $medium;
		line-height: 1.18;
	}

	&__right-top-red {
		color: #FF4554;
		font-weight: $bold;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: -4px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: #FF4554;
			animation: lineGo 3s ease infinite;
		}
	}

	@keyframes lineGo {
  0% {
    width: 0;
  }
  50% {
    width: 100%; 
	 opacity: 1;
  }
  55% {
	opacity: 0.6;
  }
  100% {
    width: 0; 
	 opacity: 0;
  }
}

	&__bottom {
		width: 200px;
		color: $textColorBlack;
		font-size: 17px;
		font-weight: $bold;
		line-height: 1.18;
	}
}
