// CONTACT FORM 

.contact-form {
   @include adaptiveValue('margin-bottom', 100, 60);

		&__container {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
      	padding-block: 90px;

		}

		&__background {
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         width: 100%;
         height: 100%;
         background-size: cover;
         background-repeat: no-repeat;
         img {
            @extend %img;
         }
		}

		&__head {
         max-width: 492px;
         width: 100%;
         margin-bottom: 25px;
         text-align: center;
		}

		&__text {
         color: $textColorWhite;
		}

		&__subscription {
         margin-bottom: 14px;
         position: relative;
         max-width: 492px;
         width: 100%;

		}

      &__input-email {
         width: 100%;
         height: 68px;
         padding: 6px 5px 6px 12px;
         border: 1px solid #D3CACA;
         background-color: $textColorWhite;
         outline: none;
         color: #5F5F5F;
         font-weight: $regular;
         line-height: 1.44;
		}

      &__button {
         width: 181px;
         padding: 17px 20px;
         position: absolute;
         top: 5px;
         right: 5px;
		}

		&__bottom {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         gap: 10px;
		}

		&__text-bottom {
         color: $textColorWhite;
         font-size: 17px;
         font-weight: $bold;
         line-height: 1.7;
		}

		&__side {
         width: 162px;
         position: absolute;
         top: 170px;
         right: 150px;
         color: $textColorWhite;
         font-size: 17px;
         font-weight: $bold;
         line-height: 1.7;
         text-align: left;
		}

		&__arrow {
         width: 68px;
         height: 106px;
         img {
            @extend %img;
         }
		}
}