// EVALUATION

.evaluation {
   @include adaptiveValue('margin-bottom', 100, 60);

		&__container {
		}

		&__block {
         display: flex;
         align-items: center;
         gap: 42px;
		}

		&__box-left {
         width: 310px;
         position: relative;
         padding: 42px 20px 30px 20px;
         background-color: $textColorWhite;
         border: 1px solid #E1EAE5;
         flex-shrink: 0;
         display: flex;
         flex-direction: column;
         gap: 14px;
         justify-content: flex-start;
		}

		&__img-left {
         position: absolute;
         top: -90px;
         left: 50%;
         transform: translateX(-50%);
         width: 120px;
         height: 120px;
         overflow: hidden;
         z-index: 2;
         img {
            @extend %img;
         }
		}

		&__rate {
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 10px;
         border-bottom: 2px solid #F3F1EF;
         padding-bottom: 13px;
		}

		&__stars-rate {
         width: 128px;
         img {
            @extend %img;
         }
		}

		&__num-rate {
         color: #000;
         font-size: 24px;
         font-weight: $medium;
         line-height: 1.25;
         span {
            font-weight: $bold;
         }
		}

		&__grade {
         display: flex;
         flex-direction: column;
         gap: 8px;
         justify-content: flex-start;
         padding-block: 18px;
         border-bottom: 2px solid #F3F1EF;
		}

		&__block-grade {
         display: flex;
         gap: 10px;
         justify-content: space-between;
         color: #000;
         font-size: 20px;
         font-weight: $medium;
         &:first-child {
            color: #0E9E58;
         }
		}

		&__whole {
         color: #000;
         text-align: center;
         font-size: 20px;
         font-weight: $bold;
         line-height: 1.5;
         margin-bottom: 13px;
      }

      &__last {
         color: #000;
         text-align: center;
         font-size: 16px;
         font-weight: $regular;
         line-height: 1.38;
		}

		&__right {
         padding-block: 11px;
		}

      &__title {
         max-width: 900px;
         text-align-last: left;
         margin-bottom: 42px;
		}

		&__swiper {
         overflow: hidden;
		}

		&__slide {
         max-width: 461px;
         width: 100%;
         padding: 30px;
         background-color: $textColorWhite;
         border: 1px solid #E1EAE5;
         box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.03);
         display: flex;
         flex-direction: column;
         gap: 18px;
         justify-content: flex-start;
         cursor: grab;
		}

		&__verified {
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 18px;
		}

		&__stars-verified {
         width: 128px;
         img {
            @extend %img;
         }
		}

		&__inscription {
         position: relative;
         border-radius: 40px;
         background: #D6F3E4;
         color: #0E9E58;
         font-weight: $bold;
         line-height: 1.44;
         padding: 5px 8px 5px 32px;
         &::before {
            content: '';
            display: block;
            background-image: url("/assets/img/evaluation/green-tick.svg");  
            background-size: cover;  
            width: 22px;
            height: 22px;
            position: absolute;
            top: 6px;
            left: 8px;
         }
		}

      &__text {
         height: 151px;
         overflow-y: auto;
      }

      .evaluation__text::-webkit-scrollbar {
          width: 4px;  
      }
      
     .evaluation__text::-webkit-scrollbar-thumb {
          background-color: #141010; 
      }

      .evaluation__text::-webkit-scrollbar-track {
          background-color: #EBE7E7; 
      }
         

		&__date {
         color: rgba(20, 16, 16, 0.74);
         font-size: 20px;
         font-weight: $regular;
         line-height: 1.5;
		}

		&__swiper-button-prev {
		}

		.swiper-pagination-bullet {
         width: 8px;
         height: 8px;
         border-radius: 0;
         background-color: black;
         &-active {
            width: 33px;
         }
      }

      .swiper-pagination-bullets.swiper-pagination-bullets.swiper-pagination-horizontal {
         width: 100%;
         display: flex;
         justify-content: flex-start;
         z-index: 50;
      }

		&__swiper-button-next {
		}

      .swiper-container {
      }

      .swiper-wrapper {
         margin-bottom: 42px;
      }

      .swiper-slide {
      }

      .swiper-controls {
         display: flex;
         justify-content: flex-start !important;
         align-items: center;
         gap: 50px;
         width: 252px;
      }

      &__swiper-button-prev, 
      &__swiper-button-next {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-shrink: 0;
         width: 43px;
         height: 43px;
         border-radius: 36px;
         border: 1px solid #A79797;
         background: rgba(255, 255, 255, 0.6); 
         cursor: pointer;
         z-index: 20;
         transition: all .2s ease-in-out;
         &:hover {
            background-color: $textColorBlack;
         }
      }

      &__swiper-button-next {
         right: 0;
         svg {
            transform: rotate(180deg);
         }
      }

}

