// FEEDBACK

.feedback {
@include adaptiveValue('margin-bottom', 170, 130);

      &__container {
         position: relative;
      }

      &__head {
         margin-bottom: 45px;
      }

		&__title {
         margin-bottom: 14px;
         text-align: left;
		}

		&__text {
         max-width: 424px;
		}

      &__slider {
         width: 100%;
         position: relative;
      }

		&__slide {
         cursor: grab;
         max-width: 700px;
         height: 366px;
         background-color: $textColorWhite;
         display: flex;
		}

		&__img {
         width: 270px;
         flex-shrink: 0;
         overflow: hidden;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover !important;
         }
		}

		&__plot {
         padding: 34px;
		}

		&__name {
         color: #131010;
         font-size: 20px;
         font-weight: $medium;
         line-height: 1.5;
         margin-bottom: 5px;
		}

		&__position {
         color: rgba(19, 16, 16, 0.60);
         font-size: 17px;
         font-weight: $bold;
         line-height: 1.7;
         margin-bottom: 13px;
		}

		&__stars-img {
         width: 128px;
         height: 24px;
         overflow: hidden;
         margin-bottom: 34px;
         img {
            @extend %img;
         }
		}

      &__text-slide {
         height: 163px;
         color: #131010;
         font-size: 20px;
         font-weight: $medium;
         line-height: 1.5;
         overflow-y: auto;
      }

      .feedback__text-slide::-webkit-scrollbar {
          width: 4px;  
      }

      
      .feedback__text-slide::-webkit-scrollbar-thumb {
          background-color: #FF4554; 
      }

      
      .feedback__text-slide::-webkit-scrollbar-track {
          background-color: #EBE7E7; 
      }

      .swiper-container {
         width: 100%; 
         max-width: 100%; 
         position: relative; 
      }

      .swiper-wrapper {
          display: flex; 
      }

      .swiper-slide {
          width: 100%; 
          display: flex;
          justify-content: center; 
          align-items: center; 
      }

      .swiper-pagination-bullet {
         width: 8px;
         height: 8px;
         border-radius: 0;
         background-color: black;
         &-active {
            width: 33px;
         }
      }

      .swiper-pagination-bullets.swiper-pagination-bullets.swiper-pagination-horizontal {
         width: 100%;
         position: absolute;
         display: flex;
         justify-content: flex-start;
         bottom: -55px;
         left: 0;
         z-index: 10;
      }

      .feedback__swiper-button-prev, .feedback__swiper-button-next {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 43px;
         height: 43px;
         border-radius: 36px;
         border: 1px solid #A79797;
         background: rgba(255, 255, 255, 0.6); 
         cursor: pointer;
         z-index: 20;
         position: absolute;
         bottom: -70px;
         transition: all .2s ease-in-out;
         &:hover {
            background-color: $textColorBlack;
         }
      }

      .feedback__swiper-button-next {
         right: 0;
         svg {
            transform: rotate(180deg);
         }
      }

      .feedback__swiper-button-prev {
         right: 60px;
      }

}

