// FUNCTIONS FIRST

.functions-first {
   @include adaptiveValue('margin-bottom', 100, 60);

		&__block {
         display: flex;
         flex-direction: column;
         gap: 42px;
         justify-content: flex-start;
		}

		&__head {
         text-align: center;
         max-width: 700px;
         margin: 0 auto;
		}

		&__title {
         margin-bottom: 14px;
		}

		&__body {
         display: flex;
         justify-content: space-between;
         gap: 30px;
         align-items: flex-start;
         @media (max-width: $tablet) {
            flex-direction: column;
         }
		}

      .left__pic {
         width: 321px;
         height: 132px;
         overflow: hidden;
         position: relative;
         padding-left: 50px;
         padding-top: 18px;
         padding-bottom: 17px;
         @media (max-width: $tablet) {
            display: none;
         }
         img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
         }
      }

      .left__text {
         width: 273px;
         color: $textColorBlack;
         font-family: $playpenSansFontFamily;
         font-weight: $medium;
         line-height: 1.3;
         span {
            font-weight: $bold;
         }
         @media (max-width: $tablet) {
            display: none;
         }
      }

		.right__list-desc {
         margin-bottom: 0;
      }
}