// FUNCTIONS SECOND

.functions-second {
   @include adaptiveValue('margin-bottom', 100, 60);

		&__block {
         display: flex;
         flex-direction: column;
         gap: 42px;
         justify-content: flex-start;
		}

		&__head {
         text-align: center;
         max-width: 700px;
         margin: 0 auto;
		}

		&__title {
         margin-bottom: 14px;
		}

		&__body {
         display: flex;
         justify-content: space-between;
         gap: 30px;
         align-items: flex-start;
		}
}