// FUNCTIONS THIRD

.functions-third {
   @include adaptiveValue('margin-bottom', 120, 80);

		&__block {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
		}

		&__head {
         text-align: center;
         max-width: 700px;
         margin: 0 auto;
         margin-bottom: 42px;
		}

		&__title {
         margin-bottom: 14px;
		}

		&__body {
         display: flex;
         justify-content: space-between;
         gap: 30px;
         align-items: flex-start;
		}

      &__bottom {
         display: flex;
         justify-content: center;
         align-items: center;
      }

      &__link {
         background-color: $buttonColor;
         color: $textColorWhite;
         margin-top: 50px;
      }
}