// Money

.my-money {
   @include adaptiveValue('margin-bottom', 100, 60);
   position: relative;
   padding: 80px 90px;

		&__background {
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         width: 100%;
         height: 100%;
         overflow: hidden;
         img {
            @extend %img;
         }
		}

		&__block {
         display: flex;
         justify-content: space-between;
         gap: 20px;
		}

		&__left {
         max-width: 353px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
		}

		&__title {
         text-align: left;
         font-size: 50px;
         margin-bottom: 14px;
		}

		&__text {
         margin-bottom: 22px;
		}

		&__right {
         max-width: 656px;
         width: 100%;
         overflow: hidden;
         position: relative;
         padding-bottom: 23px;
         margin: 0 auto;
		}

      &__swiper {
         position: relative;
      }

      .swiper-container {
         position: relative;
         width: 100%; 
         max-width: 656px; 
         margin: 0 auto; 
      }


		&__wrapper {
         display: flex;
		}

		&__slide {
         width: 100%;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         gap: 50px;
         @include adaptiveValue('padding-left', 94, 20);
		}

		&__img-right {
         flex-shrink: 0;
         width: 165px;
         height: 304px;
         overflow: hidden;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
		}

		&__text-right {
         width: 252px;
         color: $textColorBlack;
         font-size: 20px;
         font-weight: $medium;
         line-height: 1.5;
         span {
            font-weight: $bold;
         }
		}

      .swiper-pagination-bullet {
         width: 8px;
         height: 8px;
         border-radius: 0;
         background-color: black;
         &-active {
            width: 33px;
         }
      }

      .swiper-pagination-bullets.swiper-pagination-bullets.swiper-pagination-horizontal {
         position: absolute;
         display: flex;
         justify-content: center;
         bottom: 0;
         z-index: 50;
      }
}

.my-money__swiper-button-prev, .my-money__swiper-button-next {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 43px;
   height: 43px;
   border-radius: 36px;
   border: 1px solid #A79797;
   background: rgba(255, 255, 255, 0.6); 
   cursor: pointer;
   z-index: 20;
   position: absolute;
   top: 130px;
   transition: all .2s ease-in-out;
   &:hover {
      background-color: $textColorBlack;
   }
}

.my-money__swiper-button-next {
   right: 0;
   svg {
      transform: rotate(180deg);
   }
}
