// NEW_FUNCTIONS

.new-functions {
   @include adaptiveValue('margin-bottom', 100, 60);

   &__block {
		position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
   }

		&__left {
         width: 216px;
         position: relative;
         display: flex;
         align-items: center;
			@media (max-width: $tablet) {
				display: none;
			}
		}

		&__img-left {
         width: 100%;
         height: 235px;
         overflow: hidden;
         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
		}

		&__right {
			display: flex;
			gap: 14px;
			justify-content: flex-start;	
			align-items: flex-start;
			@media (max-width: $tablet) {
				width: 100%;
				justify-content: space-between;
			}
			@media (max-width: $mobileSmall) {
            flex-direction: column;
         }
		}

		&__first {
         width: 505px;
         padding: 16px;
			background-color: $textColorWhite;
			@media (max-width: $tablet) {
            width: 100%;
         }
		}

		&__video-first {
			cursor: pointer;
         width: 100%;
         height: 329px;
         margin-bottom: 14px;
			iframe {
				width: 100%;
				height: 100%;
			}
			@media (max-width: $mobileSmall) {
            height: 250px;
         }
		}

		&__title-first {
         color: $textColorBlack;
         font-size: 20px;
         font-weight: $bold;
         line-height: 1.5;
         margin-bottom: 8px;
		}

		&__text-first {
         color: $textColorBlack;
         font-size: 20px;
         font-weight: $medium;
         line-height: 1.5;
		}

		&__link-first {
         color: #FF4554;
         text-decoration: underline;
		}

		&__second {
			width: 375px;
			@media (max-width: $mobileSmall) {
            width: 100%;
         }
		}

		&__top-second {
			width: 100%;
			height: 288px;
			position: relative;
         padding: 14px 16px 16px;
			margin-bottom: 14px;
			background-color: $textColorWhite;
			.new-functions__second-text {
				position: absolute;
				bottom: 16px;
				left: 16px;
			}
		}

		&__second-video1 {
			cursor: pointer;
			position: absolute;
			top: 86px;
			left: 16px;
         width: 253px;
         height: 143px;
			z-index: 2;
			iframe {
				width: 100%;
				height: 100%;
			}
		}

		&__second-video2 {
			cursor: pointer;
			top: 14px;
			right: 16px;
			position: absolute;
         width: 206px;
         height: 115px;
			iframe {
				width: 100%;
				height: 100%;
			}
		}

		&__second-text {
			color: $textColorBlack;
			font-size: 17px;
			font-weight: $bold;
			line-height: 1.7;
		}

		&__tv {
			width: 71px;
			height: 46px;
			position: absolute;
			bottom: 71px;
			right: 19px;
			img {
				@extend %img;
			}
		}

		&__bottom-second {
			border: 1px solid #E9E9E9;
			background-color: $textColorWhite;
			width: 100%;
			padding: 16px;
		}

		&__block-bottom {
			display: flex;
			gap: 20px;
			background-color: #EBE7E7;
			margin-bottom: 14px;
		}

		&__bottom-img {
			width: 100px;
			height: 100%;
			img {
				@extend %img;
			}
		}

		&__music {
			@media (max-width: $tablet) {
            width: 60%;
         }
		}

		&__music-title {
			color: #FF4554;
			font-size: 20px;
			font-weight: $medium;
			line-height: 1.5;
		}

		&__music-office {
			color: $textColorBlack;
			font-weight: $bold;
			line-height: 1.44;
			margin-bottom: 14px;
		}

		&__music-links {
			display: flex;
			gap: 5px;
			justify-content: space-between;
			align-items: center;
		}

		&__modal {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 730px;
			height: 414px;
			overflow: hidden;
			z-index: 10;
			&-inner {
				width: 100%;
				height: 100%;
				video {
					width: 100%;
					height: 100%;
				}
			}
		}
}