// PARTNERS 

.partners {
   @include adaptiveValue('margin-bottom', 100, 60);

		&__bg {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-size: cover;
         background-repeat: no-repeat;
         z-index: -1;
         img {
            @extend %img;
         }
		}

		&__container {
         display: flex;
         position: relative;
         max-height: 550px;
         overflow: hidden;
         @media (max-width: $mobile) {
            flex-direction: column-reverse;
         }
         @media (max-width: $mobileSmall) {
            max-height: 800px;
         }
		}

		&__left {
         height: 570px;
         width: 1200px;
         background-image: url("../img/partners/brands.png");
         background-size: 44% auto;
         background-attachment: fixed;
         background-position: bottom left 11%;
         background-repeat: repeat-y;
         position: relative;
         @media (max-width: $mobile) {
            width: 100vw;
            margin-left: calc(50% - 50vw);
            min-height: 150px;
            min-width: 100%;
            background-size: 115% auto;
            background-position: bottom center;
         }
         img {
            @extend %img;
         }
		}

		&__right {
         position: relative;
         width: 100%;
         height: 100%;
         padding: 100px 20px 100px 78px;
         @media (max-width: $tablet) {
            padding: 120px 20px 100px 78px;
         }
         @media (max-width: $mobileSmall) {
            padding: 120px 20px 100px 30px;
         }
		}

		&__seal {
         width: 121px;
         height: 121px;
         position: absolute;
         right: 45px;
         top: 26px;
         overflow: hidden;
         img {
            @extend %img;
         }
         @media (max-width: $tablet) {
            top: 0;
            right: -5px;
         }
         @media (max-width: $mobileSmall) {
            top: 15px;
            right: 5px;
         }
		}

		&__block {
         max-width: 400px;
         width: 100%;
         @media (max-width: $mobile) {
            max-width: 100%;
         }
      }

		&__title {
         text-align: left;
         margin-bottom: 14px;
         line-height: 1.2;
		}

		&__text {
         margin-bottom: 22px;
		}

		&__cup {
         position: absolute;
         left: -155px;
         bottom: 214px;
         width: 199px;
         padding: 24px;
         z-index: 10;
         border: 1px solid #E9E9E9;
         background: $textColorWhite;
         box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.12);
         @media (max-width: $mobile) {
            display: none;
         }
      }

      &__img-cup {
         width: 34px;
         height: 34px;
         overflow: hidden;
         margin-bottom: 14px;
         img {
            @extend %img;
         }
      }

      &__text-cup {
         color: $textColorBlack;
         font-weight: $bold;
         line-height: 1.44;
      }
}