// PARTNERS 

.partners {
   @include adaptiveValue('margin-bottom', 100, 60);

		&__bg {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-size: cover;
         background-repeat: no-repeat;
         z-index: -1;
         img {
            @extend %img;
         }
		}

		&__container {
         display: flex;
         position: relative;
		}

		&__left {
         // height: 1000px;
         // width: 1200px;
         background-size: 44% auto;
         background-attachment: fixed;
         background-position: bottom left;
         background-repeat: repeat-y;
         position: relative;
         img {
            @extend %img;
         }
		}

		&__right {
         position: relative;
         width: 100%;
         height: 100%;
         padding: 100px 20px 100px 78px;
		}

		&__seal {
         width: 121px;
         height: 121px;
         position: absolute;
         right: 45px;
         top: 26px;
         overflow: hidden;
         img {
            @extend %img;
         }
		}

		&__block {
         max-width: 400px;
         width: 100%;
      }

		&__title {
         text-align: left;
         margin-bottom: 14px;
         line-height: 1.2;
		}

		&__text {
         margin-bottom: 22px;
		}

		&__cup {
         position: absolute;
         left: -155px;
         bottom: 214px;
         width: 199px;
         padding: 24px;
         z-index: 10;
         border: 1px solid #E9E9E9;
         background: $textColorWhite;
         box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.12);
      }

      &__img-cup {
         width: 34px;
         height: 34px;
         overflow: hidden;
         margin-bottom: 14px;
         img {
            @extend %img;
         }
      }

      &__text-cup {
         color: $textColorBlack;
         font-weight: $bold;
         line-height: 1.44;
      }
}
