@use "sass:math";
@import "global/reset";
@import "global/functions";
@import "global/fonts";
@import "global/vars";
@import "global/components";
@import "global/header";
@import "global/footer";
@import "global/home";

html {
   scroll-behavior: smooth;
}

body {
	width: 100%;
	font-size: 16px;
	font-family: $mainFontFamily;
	color: $mainColor;
	position: relative;
	font-weight: $regular;
	background-color: #FCFAFA;
}

.wrapper {
	position: relative;
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
	& > main {
   	flex-grow: 1;
	}
}

[class$="__container"] {
	max-width: 1260px;
	padding-inline: 15px;
	margin-inline: auto;
}