// TITLE

.title {
   color: $textColorBlack;
   text-align: center;
   font-family: $mainFontFamily;
   font-size: $h2;
   font-style: normal;
   font-weight: $extraBold;
   line-height: 1.34;
   &--white {
      color: $textColorWhite;
   }
}

// TEXT

.text {
   color: $textColorBlack;
   font-family: $mainFontFamily;
   font-size: 20px;
   font-style: normal;
   font-weight: $medium;
   line-height: 1.5;
   &--bold {
      font-weight: $bold;
   }
   &--red {
      color: #FF4554;
      text-decoration: underline;
   }
   @media (max-width: $tablet) {
      font-size: 18px;
   }
}

// TABS TITLE

.tabs-title {
   color: $textColorBlack;
   font-family: $mainFontFamily;
   font-size: 17px;
   font-style: normal;
   font-weight: $bold;
   line-height: 1.71;
}

// DISCOUNT BUTTON

.discount-button {
   display: flex;
   max-width: 250px;
   padding: 11px 30px 12px 30px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   background-color: $buttonColor;
   color: $textColorWhite;
   font-family: $mainFontFamily;
   font-size: 16px;
   font-weight: $bold;
   line-height: normal;
   transition: all .2s ease-in-out;
   &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.25);
   }
   &__arrow {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
   }
}

// START BUTTON 

.start-button {
   display: flex;
   max-width: 250px;
   width: 100%;
   padding: 11px 30px 12px 30px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   color: $textColorBlack;
   background-color: $textColorWhite;
   font-size: 17px;
   font-weight: $bold;
   line-height: 1.71;
   transition: all .2s ease-in-out;
   &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.25);
   }
   &__arrow {
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
         @extend %img;
      }
   }
}

// TABS LEFT

.left {
   position: relative;
   width: 255px;
   @media (max-width: $tablet) {
            width: 100%;
         }
		&__img {
         position: absolute;
         right: 10px;
         top: -23px;
         width: 47px;
         height: 47px;
         overflow: hidden;
         img {
            @extend %img;
         }
		}

		&__list {
         width: 255px;
         margin-left: 73px;
         margin-bottom: 30px;
         @media (max-width: $tablet) {
            display: flex;
            margin-left: 0;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-bottom: 0;
         }
          @media (max-width: $mobile) {
            gap: 10px;
         }
		}

		&__item {
         padding: 10px 22px;
         color: $textColorBlack;
         font-size: 17px;
         font-weight: $bold;
         line-height: 1.7;
         cursor: pointer;
         &:hover,
         &.active {
            color: $textColorWhite;
            background-color: #FF4554;
         }
         @media (max-width: $tablet) {
            width: 205px;
            text-align: center;
            border: 1px solid #888888;
            box-shadow: 0px 0px 20px 0px rgba(59, 59, 59, 0.1);
         }
		}
}

// TABS RIGHT

.right {
   @media (max-width: $tablet) {
      width: 100%;
   }
		&__block {
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         gap: 45px;
         @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 20px;
         }
		}

      &__box {
         @media (max-width: $tablet) {
            width: 50%;
         }
         @media (max-width: $mobileSmall) {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
         }
         .right__pic {
            @media (max-width: $mobileSmall) {
               width: 80% !important;
            }
         }
      }

		&__pic {
         background-color: #ECE6E6;
         width: 407px;
         padding: 40px;
         img {
            @extend %img;
         }
         @media (max-width: $tablet) {
            width: 50%;
         }
         @media (max-width: $mobileSmall) {
            width: 80%;
         }
		}

      &__desc {
         max-width: 355px;
         @media (max-width: $tablet) {
            width: 50%;
         }
         @media (max-width: $mobileSmall) {
            width: 100%;
         }
      }

		&__title-desc {
         margin-bottom: 24px;
         max-width: 220px;
         span {
            font-weight: $bold;
         }
         @media (max-width: $tablet) {
            max-width: 100%;
         }
		}

		&__list-desc {
         max-width: 377px;
         display: flex;
         flex-direction: column;
         gap: 9px;
         justify-content: flex-start;
         align-items: flex-start;
         margin-bottom: 28px;
         @media (max-width: $tablet) {
            padding-right: 20px;
            max-width: 100%;
         }
         @media (max-width: $mobileSmall) {
            padding-right: 0;
         }
		}

		&__item-desc {
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 10px;
         span {
            font-weight: $bold;
         }
		}

		&__tick-item {
         width: 24px;
         height: 24px;
         overflow: hidden;
         flex-shrink: 0;
         img {
            @extend %img;
         }
		}

		&__buttons {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 8px;
		}

		&__button {
         display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 4px;
			color: #FF4554;
			font-size: 20px;
			font-weight: $bold;
			line-height: 1.5;
         transition: all .2s ease-in-out;
         span {
            width: 320px;
         }
         &:hover {
            text-shadow: 0 0 1px #FF4554;
         }
         @media (max-width: $tablet) {
            font-size: 18px;
         }
		}

		&__arrow {
         width: 28px;
			height: 28px;
			overflow: hidden;
			img {
				@extend %img;
			}
		}
}