

@font-face {
   font-family: "Arial";
   src:
      url("../fonts/Arial-Regular.woff") format("woff"),
      url("../fonts/Arial-Regular.woff2") format("woff2");
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Urbanist";
   src:
      url("../fonts/Urbanist-Thin.woff") format("woff"),
      url("../fonts/Urbanist-Thin.woff2") format("woff2");
   font-weight: 200;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Urbanist";
   src:
      url("../fonts/Urbanist-Regular.woff") format("woff"),
      url("../fonts/Urbanist-Regular.woff2") format("woff2");
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Urbanist";
   src:
      url("../fonts/Urbanist-Medium.woff") format("woff"),
      url("../fonts/Urbanist-Medium.woff2") format("woff2");
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Urbanist";
   src:
      url("../fonts/Urbanist-Bold.woff") format("woff"),
      url("../fonts/Urbanist-Bold.woff2") format("woff2");
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Urbanist";
   src:
      url("../fonts/Urbanist-ExtraBold.woff") format("woff"),
      url("../fonts/Urbanist-ExtraBold.woff2") format("woff2");
   font-weight: 800;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Inter";
   src:
      url("../fonts/Inter-Regular.woff") format("woff"),
      url("../fonts/Inter-Regular.woff2") format("woff2");
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Inter";
   src:
      url("../fonts/Inter-Medium.woff") format("woff"),
      url("../fonts/Inter-Medium.woff2") format("woff2");
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Inter";
   src:
      url("../fonts/Inter-Bold.woff") format("woff"),
      url("../fonts/Inter-Bold.woff2") format("woff2");
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "PlaypenSans";
   src:
      url("../fonts/PlaypenSans-Bold.woff") format("woff"),
      url("../fonts/PlaypenSans-Bold.woff2") format("woff2");
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "PlaypenSans";
   src:
      url("../fonts/PlaypenSans-Medium.woff") format("woff"),
      url("../fonts/PlaypenSans-Medium.woff2") format("woff2");
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}