@import "../sections/hero"; 
@import "../sections/banner"; 
@import "../sections/first-program"; 
@import "../sections/account"; 
@import "../sections/my-acc"; 
@import "../sections/functions-first";
@import "../sections/functions-second";
@import "../sections/functions-third";
@import "../sections/clients-one";
@import "../sections/clients-two";
@import "../sections/awards";
@import "../sections/money";
@import "../sections/new-functions";
@import "../sections/feedback";
@import "../sections/evaluation";
@import "../sections/partners";
@import "../sections/contact-form";
@import "../sections/apps";