$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1260;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;
$pc: $containerWidth; 
$tablet: 991.98px; 
$mobile: 767.98px; 
$mobileSmall: 479.98px; 

%img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

$mainColor: rgba(20, 20, 20, 1);
$textColorBlack: #141010;
$textColorWhite: #FFF;
$buttonColor: #FF4554;
$mainFontFamily: "Urbanist";
$interFontFamily: "Inter";
$playpenSansFontFamily: "PlaypenSans";
$arialFontFamily: "Arial";
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$titleFontSize: 52px;
$textFontSize: 20px;
$h2: 52px;
$h3: 17px