// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1260;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S

%img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

// Лічильник для списку
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

$mainColor: rgba(20, 20, 20, 1);
$textColorBlack: #141010;
$textColorWhite: #FFF;
$buttonColor: #FF4554;
$mainFontFamily: "Urbanist";
$interFontFamily: "Inter";
$playpenSansFontFamily: "PlaypenSans";
$arialFontFamily: "Arial";
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$titleFontSize: 52px;
$textFontSize: 20px;
$h2: 52px;
$h3: 17px